.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(13deg, #a8b4b8, #8393a1, #778794, #62778b);
    background-size: 800% 800%;
    animation: backgroundAnimation 11s ease infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 79%;
    }
    50% {
        background-position: 100% 22%;
    }
    100% {
        background-position: 0% 79%;
    }
}
